body {
  width: 100%;
  min-width: 1175px;
}

.page {
  margin-top: 20px;
  flex-grow: 1;
  min-width: 414px;
  max-width: 1600px;
}

.mainCard {
  height: 255px;
  margin-top: 13px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  background-color: $bgPrimary;

  img{
      height: 100px;
      width: 100%;
      object-fit: cover;
      object-position:center;
  }

  .card_text{
      padding: 10px;
      li{
        font-size: 15px;
      }
  }
}


