body {
  width: 100%;
  min-width: 1175px;
}

.page {
  margin-top: 20px;
  flex-grow: 1;
  min-width: 414px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  section {
    width: 100%;
  }
}

