@mixin mainCard (){
    height: 255px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    background-color: $bgPrimary;

    img{
        height: 100px;
        width: 100%;
        object-fit: cover;
        object-position:center;
    }
}