$bgPrimary: #ffffff;
$bgSecondary: #eef0f3;
$bgTertiary: #272a30;
$bgBrandPrimary: #e10014;
$bgBrandSecondary: #96000d;
$bgOverlay: rgba(39, 42, 48, 0.9);
$bgOverlaySoft: rgba(39, 42, 48, 0.3);
$bgHeader: #d2161e;
$bgList: #ffffff;
$bgScore: #414752;
$bgTitleHighlight: #272a30;
$bgTitleBrand: #d2161e;
$bgTitleSoft: #ffffff;
$bgVideo: #272a30;

$buttonCheckout: #e10014;
$buttonCheckoutPressed: #ff4152;
$buttonCheckoutSelected: #96000d;
$buttonBetting: #ffcc00;
$buttonBettingPressed: #ffe066;
$buttonBettingSelected: #272a30;
$buttonBettingUp: #33b372;
$buttonBettingDown: #ff4152;
$buttonCashout: #009ee2;
$buttonCashoutPressed: #6ca1e7;
$buttonCashoutSelected: #184c91;
$buttonCashoutAlt: #272a30;
$buttonCashoutAltPressed: #414752;
$buttonCashoutAltSelected: #5d6473;
$buttonPrimary: #e10014;
$buttonPrimaryPressed: #ff4152;
$buttonPrimarySelected: #96000d;
$buttonPrimaryAlt: #ffffff;
$buttonPrimaryAltPressed: #eef0f3;
$buttonPrimaryAltSelected: #bcc0c9;
$buttonSecondary: #eef0f3;
$buttonSecondaryPressed: #bcc0c9;
$buttonSecondarySelected: #9aa1af;
$buttonSecondaryAlt: #96000d;
$buttonSecondaryAltPressed: #ff4152;
$buttonSecondaryAltSelected: #4b0007;
$buttonTertiary: #272a30;
$buttonTertiaryPressed: #414752;
$buttonTertiarySelected: #5d6473;
$buttonTertiaryAlt: rgba(255, 255, 255, 0.2);
$buttonTertiaryAltPressed: rgba(255, 255, 255, 0.3);
$buttonTertiaryAltSelected: rgba(255, 255, 255, 0.4);

$borderSelected: #798293;
$borderSelectedAlt: #eef0f3;
$borderError: #e10014;
$borderErrorAlt: #96000d;
$borderSoft: #bcc0c9;
$borderSoftAlt: #ffa0a8;
$borderButtonBettingOn: #ffcc00;

$typoPrimary: #272a30;
$typoPrimarySolid: #272a30;
$typoPrimaryAlt: #ffffff;
$typoPrimarySolidAlt: #ffffff;
$typoSecondary: #5d6473;
$typoSecondaryAlt: rgba(255, 255, 255, 0.7);
$typoTertiary: #9aa1af;
$typoTertiaryAlt: rgba(255, 255, 255, 0.5);
$typoPositive: #33b372;
$typoPositiveAlt: #33b372;
$typoWarning: #cca400;
$typoWarningAlt: #cca400;
$typoNegative: #ff4152;
$typoNegativeAlt: #ff4152;
$typoInformation: #2472d9;
$typoInformationAlt: #2472d9;
$typoBettingOff: #272a30;
$typoBettingOn: #ffcc00;
$typoBettingOnLive: #ffcc00;
$typoBettingTrendUp: #ffffff;
$typoBettingTrendDown: #ffffff;
$typoList: #272a30;
$typoLiveScore: #ffcc00;
$typoCashout: #009ee2;
$typoMultiplus: #fe8000;
$typoBrand: #e10014;
$typoBrandSolid: #e10014;
$typoBrandAlt: #ffffff;
$typoTabActive: #272a30;
$typoTabActiveAlt: #ffffff;
$typoTabInactive: #9aa1af;
$typoTabInactiveAlt: #ffa0a8;
