#index-summary {
    article{
        height: auto;
    }
    h1{
        padding-bottom: 5px;
    }
    li{
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 8px;
    }
}

